# Trying to do the folding before applying algorithms

In [2]:
import pandas as pd
import numpy as np
import scipy.sparse as sp

from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

from ohe import *

In [3]:
test = pd.DataFrame({'VisitID':[1,2,3,3,4,4,4], 
                     'Age':[15,85,39,39,56,56,56], 
                     'DXCODE':['250.99', '003.00', 'V.29', 'X29.XX', '009.23', 'XX.514', '200.50'] 
                    })
test

   Age  DXCODE  VisitID
0   15  250.99        1
1   85  003.00        2
2   39    V.29        3
3   39  X29.XX        3
4   56  009.23        4
5   56  XX.514        4
6   56  200.50        4

In [7]:
print range(1,4)

[1, 2, 3]